<<<<<<< HEAD
body {
    background-color: DimGrey;
}

#game-circle {
    border-radius: 100%;
    background-color: black;
    width: 500px;
    height: 500px;
}

#all-buttons {
    width: 300px;
    height: 300px;
    position: absolute;
    border-left: 100px solid darkgreen;
    border-right: 100px solid darkblue;
    border-top: 100px solid darkred;
    border-bottom: 100px solid rgb(173, 173, 0);
    transform: rotate(45deg);
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 150px;
}

#middle-area {
    position: relative;
    background-color: lightslategray;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
/*
.color-button {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
}
*//*
#green {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 100px solid #00A000;
    border-radius: 50%;
}*/
/*
#red {
    background-color: #A00000;
}

#yellow {
    background-color: #A0A000;
}

#blue {
    background-color: #0000A0;
}
=======
body {
    background-color: DimGrey;
}

#game-circle {
    border-radius: 100%;
    background-color: black;
    width: 500px;
    height: 500px;
}

#all-buttons {
    width: 300px;
    height: 300px;
    position: absolute;
    border-left: 100px solid darkgreen;
    border-right: 100px solid darkblue;
    border-top: 100px solid darkred;
    border-bottom: 100px solid rgb(173, 173, 0);
    transform: rotate(45deg);
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 150px;
}

#middle-area {
    position: relative;
    background-color: lightslategray;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
/*
.color-button {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
}
*//*
#green {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 100px solid #00A000;
    border-radius: 50%;
}*/
/*
#red {
    background-color: #A00000;
}

#yellow {
    background-color: #A0A000;
}

#blue {
    background-color: #0000A0;
}
>>>>>>> bfb75d36e6b4ffe168a3a97bd119ec1cd14f78ff
*/